# Core functionality - changes here should be rare!
/src/app.py                   @SavvyNick
/src/backend/database.py      @SavvyNick
/src/backend/routers/auth.py  @SavvyNick

# The frontend will need refactored soon to be more object oriented.
/src/static/   @SavvyNick
